<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}
	<body>
		<main style="max-width: 1000px">
            <header>
                <a class="site-title" href="/itadm" style="font-size:2em">Henry Akmann</a>
                <br/>
                <a href="{{ .Parent.Permalink }}" style="color: cyan">Zurück</a>
            </header>
            <div class="content">{{ .Content }}</div>
            <section class="articles">
                {{ if .Sections }}
                    {{ range .Sections }}
                        <article class="article">
                            <h2 class="article-title">
                                <a href="{{ .Permalink }}" title="{{ .Title }}"> {{ .Title }} </a>
                            </h2>
                            <small class="date">{{ .Date.Format "Mon Jan 2, 2006" }}</small>
                        </article>
                    {{ end }}
                {{ else }}
                    {{ range .Pages.ByDate }}
                        <article class="article">
                            <h2 class="article-title">
                                <a href="{{ .Permalink }}" title="{{ .Title }}"> {{ .Title }} </a>
                            </h2>
                        </article>
                    {{ end }}
                {{ end }}
            </section>
            <div class="itadm-footer">
                <section class="refer-a-friend">
                    <a href="https://www.digitalocean.com/?refcode=c004d8619807&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img width="140" src="/itadm/images/digitalocean.svg" alt="DigitalOcean Referral Badge" /></a>
                </section>
                <div><a href="https://drive.google.com/open?id=1jAVLTz3SNmBbfHlRN9A_4Xw7nDfOsEpW" target="_blank">Foliensätze</a></div>
            </div>
			{{ partial "footer.html" . }}
		</main>
	</body>
</html>
