{{ define "main" }}
<div class="bg-gray-100 px-6 py-20 lg:px-8">
  <div class="mx-auto max-w-4xl prose md:prose-md lg:prose-lg">
    <a href="{{ .Parent.RelPermalink }}" class="block mb-6 hover-underline-animation">&larr; Zurück</a>
    {{ .Content }}
  </div>

  <div class="mt-20 mx-auto max-w-2xl">
    <div class="flex flex-col gap-4">
      {{ range .Pages.ByDate }}
        <a href="{{ .RelPermalink }}">
          <div class="px-12 py-6 text-2xl text-gray-800 text-bold bg-gray-200 border rounded-md shadow-sm duration-200 hover:text-black hover:border-emerald-500 hover:scale-105">
            {{ .Params.title }}
          </div>
        </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}