{{ define "main" }}
<div class="bg-gray-100 px-6 py-20 lg:px-8">
  {{ if .Params.image }}
    <img
      src="{{ .Params.image }}"
      alt="{{ .Params.title }} Header Image"
      class="mb-16 mx-auto max-w-3xl w-full max-h-96 rounded-md" />
  {{ end }}
  <div class="mx-auto prose md:prose-md lg:prose-lg">
    <a href="{{ .Parent.RelPermalink }}" class="block mb-6 hover-underline-animation">&larr; Zurück</a>
    {{ if .Params.tags }}
      <p class="text-base font-semibold leading-7 text-emerald-500">
        {{ range $index, $tag := .Params.tags }}
          {{ if gt $index 0 }} · {{ end }}{{ $tag }}
        {{ end }}
      </p>
    {{ end }}
    {{ if .Params.title }}
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ .Params.title }}</h1>
    {{ end }}
    {{ if .Params.tldr }}
      <p class="mt-6 text-xl leading-8"><span class="font-mono">tl;dr</span> - {{ .Params.tldr }}</p>
      <hr class="border-emerald-500" />
    {{ end }}
    <div id="content">
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}