<header class="bg-gray-100" data-aos="fade-down" data-aos-duration="600">
  <nav class="mx-auto flex max-w-5xl items-center justify-between p-6 lg:pt-16 lg:px-8" aria-label="Global">
    <a href="/" class="-m-1.5 p-1.5">
      <span class="text-2xl font-mono font-bold">Henry Akmann</span>
    </a>
    <div class="flex lg:hidden">
      <button id="header-open-button" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="https://github.com/redii" target="_blank" class="text-sm font-mono font-semibold leading-6 text-gray-900 hover-underline-animation">Github</a>
      <a href="/projects" class="text-sm font-mono font-semibold leading-6 text-gray-900 hover-underline-animation">Projekte</a>
      <a href="mailto:www@akmann.dev" class="text-sm font-mono font-semibold leading-6 text-gray-900 hover-underline-animation">Kontakt <span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>

  <div id="header-mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full h-screen overflow-y-auto bg-gray-100 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="font-mono text-2xl font-bold">Henry Akmann</span>
        </a>
        <button id="header-close-button" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="https://github.com/redii" target="_blank" class="-mx-3 !block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover-underline-animation">Github</a>
            <a href="/projects" class="-mx-3 !block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover-underline-animation">Projekte</a>
          </div>
          <div class="py-6">
            <a href="mailto:www@akmann.dev" class="-mx-3 !block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50 hover-underline-animation">Kontakt <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
// Toggle Mobile Menu Start
document.getElementById("header-open-button").addEventListener("click", () => {
  document.getElementById("header-mobile-menu").classList.toggle("hidden")
})

document.getElementById("header-close-button").addEventListener("click", () => {
  document.getElementById("header-mobile-menu").classList.toggle("hidden")
})
// Toggle Mobile Menu End
</script>