{{ define "main" }}
<div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8">
  <div class="pt-12 flex flex-col lg:flex-row gap-12 items-center">
    <img
      alt="Henry Akmann Profilbild"
      src="https://avatars.githubusercontent.com/u/14221837"
      class="w-56 h-56 sm:w-80 sm:h-80 rounded-full shadow-lg duration-200 hover:scale-105 hover:ring-4 hover:ring-emerald-600"
      data-aos="fade-up" />
    <div class="text-center lg:text-left">
      <h1 data-aos="fade-up" data-aos-delay="100" class="!text-5xl">Hallo <img src="/emojis/waving-hand.png" alt="Waving hand emoji" class="inline w-12 h-12 relative bottom-2" /></h1>
      <p data-aos="fade-up" data-aos-delay="200">Willkommen auf meiner Webseite!<br/>Mein Name ist Henry Akmann aus Hannover und ich programmiere und baue gerne Dinge...</p>
      <a data-aos="fade-up" data-aos-delay="300" href="#projects" class="mt-20 block">↓ Take a look at my projects ↓</a>
    </div>
  </div>
</div>
{{ end }}